<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>      
        <add name="strCon"
            connectionString="Data Source=StudentManagementDB.mssql.somee.com;Initial Catalog=StudentManagementDB;User ID=baolongsbs_SQLLogin_1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>